bin/
gen/
obj/
proguard/
apk/
.settings/
docs/api/
.idea/
on-project/mock/bakup/
#out/
repo/
target/
output/


coverage.em
lint.xml

.classpath
.project
project.properties
local.properties

ut/coverage
ut/report_tests
ut/temporary
ut/report

MobvistaSDK/build.gradle
.idea
build
*.iml
.DS_Store

*.apk
*.zip
Demo/libs/MVSDK.jar
Demo/libs

MobSdk/build.gradle

MobSdk/build.gradle

MobSdk/build.gradle

MobSdk/build.gradle


MobvistaAdmobDemo/.gradle/4.0-rc-1/fileContent/fileContent.lock

MobvistaAdmobDemo/.gradle/4.0-rc-1/javaCompile/classAnalysis.bin

MobvistaAdmobDemo/.gradle/4.0-rc-1/javaCompile/jarAnalysis.bin

MobvistaAdmobDemo/.gradle/4.0-rc-1/javaCompile/javaCompile.lock

MobvistaAdmobDemo/.gradle/4.0-rc-1/javaCompile/taskHistory.bin

MobvistaAdmobDemo/.gradle/4.0-rc-1/javaCompile/taskJars.bin

*.bin

*.lock
